# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

client/berg.jpg
client/ecke.jpg
client/game.js
client/index.html
client/map.css
client/map.js
client/TankCommander/berg.jpg
client/TankCommander/ecke.jpg
client/TankCommander/explosion.gif
client/TankCommander/game.js
client/TankCommander/index.html
client/TankCommander/map.css
client/TankCommander/map.js
/.idea
